doctype html
html
  head
    title sber-pb
    <meta charset="UTF-8">
    <meta name="description" content="pb conference">
    <meta name="keywords" content="sber-pb">
    <meta name="author" content="">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0">
    <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/icon512.png" rel="apple-touch-icon" sizes="512x512">
    <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/icon120.png" rel="apple-touch-icon" >
    <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/android-chrome-512x512.png" rel="android-touch-icon" sizes="512x512">
    <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/android-chrome-192x192.png" rel="android-touch-icon" sizes="192x192">
    <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/icon32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/icon16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/favicon.ico" rel="shortcut icon" >
    <meta name="msapplication-TileImage" content="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/icon144.png" >
    <meta name="msapplication-square70x70logo" content="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/icon70.png" >
    <meta name="msapplication-square150x150logo" content="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/icon150.png" >
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://sber-pb.ru/" />
    meta(property="og:title" content=content.pageTitle[lang])
    meta(name="description" content=content.lid[lang])
    meta(property="og:description" content=content.lid[lang] )
    <meta property="og:image" content="https://sber-pb.ru/images/bg1.png" />
    <link href=" /javascripts/video-js.css" rel="stylesheet" />
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      try{ eval("let a=()=>{;;};")}
      catch (e) {
        console.log(e)
        document.location.href="/badbrowser"
      }
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WD4C64RD24"></script>
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-WD4C64RD24');

  body
    div#app(v-bind:class="{isLogin:isLogin, isPlayer:isPlayer}")
      //div.loader(v-if="!loaded")
        //img(src="/images/loader2.gif"aboutFormButton)

      div.work(v-if="loaded" v-bind:class="{visible:loaded}" )

        header
          .bumper
            .tower
              .mainLogo
                include  logo.pug




              //.mainLang
                span.mainLangItem(class=""+lang=="ru" onclick="changeLang('ru')")  ru
                span.mainLangDivaider &nbsp;|&nbsp;
                span.mainLangItem(class=""+lang=="en" onclick="changeLang('en')") en
              .playerTitle(v-if="isPlayer")
                include titleProNalog.pug

            //.gradient
            //.mainMenu
              .mainMenuItem.active Регистрация
              .mainMenuItem О мероприятии
              .mainMenuItem Спикеры
              .mainMenuItem Программа

        .tower
          .mainContent(v-bind:class="{player:isPlayer}")
            .mainTitle()
              include titleProNalog

        .regForm(v-if="!isPlayer ")
          .regFormHeader()
            div(v-if="stage<=1") !{site.registration[lang]}
            div(v-if="stage==10") !{site.registrationComplite[lang]}
            div(v-if="stage==3 || stage==4") !{site.autorisation[lang]}
          .regFormBody#regFormBody
            block content
        .tower
          .aboutForm
            .palyerWr
              .playerHead
                .playerLogo
                  include  logo.pug

              //.playerBody.a

                .playerObj
                  .videoWrapper
                    if lang=="ru"
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/9UdD8ftyLSE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    else
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/434ciYDLqsU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    //iframe( src="https://front.sber.link/playerpb"+lang+".html" border="0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen)
                //include playerCtrl.pug
                //.playerChatBox
                  include playerCtrl.pug
                  .playerChatWr(v-if="!chatIsActive")

                    .playerChatPole#qBox
                      .playerChatPoleWr
                          .playerChatItem(v-for="item in q" v-if="!item.isDeleted ")
                            //.playerChatTitle {{item.i}} {{item.o}}
                            .playerChatText {{item.text}}
                            .playerChatDate {{moment(item.date).format('HH:mm')}}
                          .playerChatItem(v-if="q.filter(c=>!c.isDeleted).length==0")
                            .playerChatText {{lang=="ru"?"нет сообщений":"no messages"}}
                    .playerChatInputForm
                      input(placeholder=site.qPlaceholder[lang] v-model="qText" maxlength="1200" v-on:keyup.enter="newQ()")
                      .btn.playerChatSend(v-on:click="newQ()")
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve"> <path d="M483.927,212.664L66.967,25.834C30.95,9.695-7.905,42.023,1.398,80.368l21.593,89.001 c3.063,12.622,11.283,23.562,22.554,30.014l83.685,47.915c6.723,3.85,6.738,13.546,0,17.405l-83.684,47.915 c-11.271,6.452-19.491,17.393-22.554,30.015l-21.594,89c-9.283,38.257,29.506,70.691,65.569,54.534l416.961-186.83 C521.383,282.554,521.333,229.424,483.927,212.664z M359.268,273.093l-147.519,66.1c-9.44,4.228-20.521,0.009-24.752-9.435 c-4.231-9.44-0.006-20.523,9.434-24.752l109.37-49.006l-109.37-49.006c-9.44-4.231-13.665-15.313-9.434-24.752 c4.229-9.44,15.309-13.666,24.752-9.435l147.519,66.101C373.996,245.505,374.007,266.49,359.268,273.093z"/></svg>
                      .playerChatInputFormLoaderWr(v-if="chatTextSend")
                        .playerChatInputFormLoader
                  //.playerChatWr(v-if="chatIsActive")
                    .playerChatPole#chatBox
                      .playerChatPoleWr
                          .playerChatItem(v-for="item in chat" v-if="!item.isDeleted ")
                            .playerChatTitle {{item.i}} {{item.o}}
                            .playerChatText {{item.text}}
                            .playerChatDate {{moment(item.date).format('HH:mm')}}
                          .playerChatItem(v-if="chat.filter(c=>!c.isDeleted).length==0")
                            .playerChatText {{lang=="ru"?"нет сообщений":"no messages"}}



                    .playerChatInputForm
                      input(placeholder=site.chatPlaceholder[lang] v-model="chatText" maxlength="1200" v-on:keyup.enter="newChat()")
                      .btn.playerChatSend(v-on:click="newChat()")
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve"> <path d="M483.927,212.664L66.967,25.834C30.95,9.695-7.905,42.023,1.398,80.368l21.593,89.001 c3.063,12.622,11.283,23.562,22.554,30.014l83.685,47.915c6.723,3.85,6.738,13.546,0,17.405l-83.684,47.915 c-11.271,6.452-19.491,17.393-22.554,30.015l-21.594,89c-9.283,38.257,29.506,70.691,65.569,54.534l416.961-186.83 C521.383,282.554,521.333,229.424,483.927,212.664z M359.268,273.093l-147.519,66.1c-9.44,4.228-20.521,0.009-24.752-9.435 c-4.231-9.44-0.006-20.523,9.434-24.752l109.37-49.006l-109.37-49.006c-9.44-4.231-13.665-15.313-9.434-24.752 c4.229-9.44,15.309-13.666,24.752-9.435l147.519,66.101C373.996,245.505,374.007,266.49,359.268,273.093z"/></svg>
                      .playerChatInputFormLoaderWr(v-if="chatTextSend")
                        .playerChatInputFormLoader
                //div(style="clear:both")

              .playerBody.a(v-if="stage==6")

                .playerObj
                  .videoWrapper

                      <iframe style="overflow: hidden" id="playerIframe" width="560" height="315" src="/iframePronalog.html"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  .playerTimingItem(style="margin-top: 1em;text-align: justify;") Обратите внимание, с 8 июня ЦБ расширил возможность перевода денег российских резидентов физлиц на свой счет за рубежом или другому человеку за границу до $150 тысяч в месяц. <br>Запись была сделана до принятия этого решения.
                .playerChatBox
                  .playerTiming
                        .playerTimingItem(onclick="navigateToTime(3)" start="9" end="66")
                          .playerTimingItemTime 0:09
                          .playerTimingItemText  Вступление
                        .playerTimingSubItem Изменения в персональных налогах:
                        .playerTimingItem(onclick="navigateToTime(60)" start="66" end="298")
                          .playerTimingItemTime 1:06
                          .playerTimingItemText Прогрессивная шкала налогообложения
                        .playerTimingItem(onclick="navigateToTime(4*60+58)" start="298" end="425")
                          .playerTimingItemTime 5:03
                          .playerTimingItemText Отмена налога на материальную выгоду
                        .playerTimingItem(onclick="navigateToTime(7*60+5)" start="425" end="571")
                          .playerTimingItemTime 7:11
                          .playerTimingItemText Отмена налога на проценты по вкладам
                        .playerTimingItem(onclick="navigateToTime(9*60+31)" start="571" end="730")
                          .playerTimingItemTime 9:37
                          .playerTimingItemText Отмена штрафов за непредставление документов по контролируемой иностранной компании («КИК»)
                        .playerTimingItem(onclick="navigateToTime(12*60+10)" start="730" end="2174")
                          .playerTimingItemTime 12:16
                          .playerTimingItemText Амнистия 4.0
                        .playerTimingItem(onclick="navigateToTime(36*60+14)" start="2174" end="2658")
                          .playerTimingItemTime 36:20
                          .playerTimingItemText Безналоговый перевод активов на физическое лицо с КИК
                        .playerTimingItem(onclick="navigateToTime(44*60+18)" start="2658" end="4170")
                          .playerTimingItemTime 44:24
                          .playerTimingItemText Режим использования иностранных счетов
                        .playerTimingItem(onclick="navigateToTime(60*60+9*60+30)" start="4170" end="8170")
                          .playerTimingItemTime 1:09:45
                          .playerTimingItemText Заключение



          .aboutForm
            .aboutFormTitle !{site.about[lang]}
            .aboutFormLid !{content.lid[lang]}
            .aboutFormItems
              each item in content.list
                .aboutFormItem !{item[lang]}

          .aboutForm
            .aboutFormTitle !{site.speakers[lang]}
            .speakers
              each speaker in speakers
                .speaker(vv-on:click="showSpeaker("+JSON.stringify(speaker)+")")
                  .speakerPhoto !{"<img src='/images/"+speaker.img+"'>"}
                  .sbeakerName !{speaker.name[lang]}
                  .speakerPos !{speaker.position[lang]}
          .aboutForm
            .aboutFormLid !{content.addText[lang]}

          //.aboutForm
            .aboutFormTitle !{lang=='ru'?'Архив':"Archive"}
            .archiveItemBox
                .archiveItem
                  if lang=='ru'
                    .archiveTitle.sbeakerName Инвестиции будущего: Брилиантовая революция
                    .archiveVideoWr.videoWrapper
                      iframe(src="https://player.vimeo.com/video/529254338?color=d2d55f&amp;title=0&amp;byline=0&amp;portrait=0&amp;autoplay=false" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="allowfullscreen")
                  else
                    .archiveTitle.sbeakerName Investments of the future: Diamond revolution
                    .archiveVideoWr.videoWrapper
                      iframe( src="https://player.vimeo.com/video/529064166?color=d2d55f&amp;title=0&amp;byline=0&amp;portrait=0&amp;autoplay=false" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="allowfullscreen")
          //include generalDisscus
        footer(style="height: 132px;")
              div.mainLogo
                <svg width="113" height="32" viewBox="0 0 113 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                <path d="M109.865 23.8462C111.053 23.8462 111.89 24.6069 111.93 25.9181V26.5334C111.93 27.9094 111.236 28.7109 109.852 28.7109C108.624 28.7109 107.813 28.1196 107.813 26.3624C107.813 24.5422 108.429 23.8462 109.865 23.8462ZM111.93 29.0401C111.93 30.5327 111.184 31.0193 109.827 31.0193C108.441 31.0193 107.656 30.3226 107.345 29.8391V31.2423C107.656 31.5571 108.624 32.003 109.814 32.003C111.903 32.003 113 31.164 113 28.9745V22.9952H111.98V24.1227C111.64 23.4546 110.832 22.8641 109.695 22.8641C107.827 22.8641 106.717 23.8462 106.717 26.4287C106.717 28.7228 107.827 29.6929 109.565 29.6929C110.817 29.6929 111.576 29.1336 111.93 28.42V29.0401ZM104.734 29.5499H105.819V25.2349C105.819 23.6368 105.034 22.8889 103.546 22.8761H103.52C102.264 22.8761 101.392 23.5154 101.154 24.3831V22.9952H100.119V29.5475H101.203V26.0236C101.203 24.6476 101.792 23.8462 103.176 23.8462H103.216C104.314 23.8606 104.729 24.3448 104.729 25.4986L104.734 29.5499ZM97.358 29.5499H98.4412V22.9976H97.358V29.5499ZM97.1748 20.2288C97.1748 20.6483 97.4623 20.9248 97.9044 20.9248C98.3464 20.9248 98.6212 20.6483 98.6212 20.2288C98.6212 19.8237 98.3337 19.5488 97.9044 19.5488C97.4751 19.5488 97.1748 19.8237 97.1748 20.2288ZM90.7772 19.7182V29.5467H91.8612V26.6645H92.7374L95.0911 29.5475H96.4579L93.6366 26.0875L96.0262 22.9952H94.7852L92.7334 25.7352H91.8572V19.7182H90.7772ZM88.3 29.5467H89.384V25.2317C89.384 23.6336 88.5995 22.8857 87.1092 22.8729H87.0829C85.83 22.8729 84.9554 23.5122 84.7197 24.3799V22.9952H83.6842V29.5475H84.7682V26.0236C84.7682 24.6476 85.3553 23.8462 86.7388 23.8462H86.7794C87.8778 23.8606 88.2928 24.3448 88.2928 25.4986L88.3 29.5467ZM79.328 28.6437C78.4519 28.6437 78.009 28.1979 78.009 27.5562C78.009 26.8099 78.5196 26.6245 79.6944 26.6245H81.2078V27.3325C81.1433 27.7784 80.659 28.6437 79.3272 28.6437H79.328ZM77.3949 25.0408C77.8394 24.3064 78.5953 23.8078 79.6132 23.8078C80.5547 23.8078 81.2062 24.1227 81.2062 25.2365V25.7607H79.6514C77.9158 25.7607 76.8963 26.181 76.8963 27.6209C76.8963 28.9586 77.7597 29.6529 79.0469 29.6529C80.0823 29.6529 80.9179 29.1543 81.2556 28.4344V29.5475H82.2911V25.2246C82.2911 23.4267 81.2851 22.8641 79.61 22.8641C78.604 22.8641 77.8218 23.1662 77.3917 23.493L77.3949 25.0408ZM70.1872 24.4255V21.4234H72.5386C73.9221 21.4234 74.537 21.8957 74.537 22.8258C74.537 23.8606 73.6218 24.4239 72.4979 24.4239L70.1872 24.4255ZM70.1872 28.5007V25.3676H72.6023C73.8839 25.3676 74.7983 25.7088 74.7983 26.8858C74.7983 28.0117 74.0017 28.4975 72.564 28.4975L70.1872 28.5007ZM72.3952 29.5475C74.6413 29.5475 75.9875 28.7748 75.9875 26.8746C75.9875 25.6824 75.4641 24.9217 74.2495 24.7643C75.2292 24.4495 75.7119 23.7151 75.7119 22.6012C75.7119 21.0423 74.6015 20.3743 72.7998 20.3743H69.0116V29.5475H72.3952ZM62.0572 23.811C63.0887 23.811 63.8613 24.467 63.8613 25.7288V25.7415H59.9536C60.0962 24.4702 60.8298 23.8142 62.0572 23.8142V23.811ZM62.0572 22.8705C60.2149 22.8705 58.8313 23.9836 58.8313 26.2513C58.8313 28.5455 60.0181 29.6873 62.0835 29.6873C63.3627 29.6873 64.1608 29.2934 64.4866 28.8882V27.609C64.1329 28.2386 63.338 28.7348 62.0835 28.7348C60.8027 28.7348 60.0444 28.0812 59.9393 26.6645H64.9454V25.9565C64.9454 24.018 63.8613 22.8641 62.0572 22.8641V22.8705ZM53.4899 22.9952V23.9652H54.8352V27.6353C54.8352 29.116 55.5521 29.6793 57.0177 29.6793C57.5752 29.6793 58.2586 29.4716 58.5462 29.2334V28.2746C58.1007 28.5435 57.5917 28.6883 57.0718 28.6941C56.1805 28.6941 55.9193 28.3673 55.9193 27.3588V23.9628H58.2841V22.9952H55.9193V21.1573L54.8352 21.5625V22.9912L53.4899 22.9952ZM49.9167 28.6437C49.0406 28.6437 48.5969 28.1979 48.5969 27.5562C48.5969 26.8099 49.1059 26.6245 50.2823 26.6245H51.7957V27.3325C51.7312 27.7784 51.2485 28.6437 49.9175 28.6437H49.9167ZM47.982 25.0408C48.428 24.3064 49.1847 23.811 50.2019 23.811C51.1434 23.811 51.7949 24.1258 51.7949 25.2397V25.7639H50.2425C48.5045 25.7639 47.485 26.1842 47.485 27.6241C47.485 28.9618 48.3476 29.6561 49.6411 29.6561C50.6726 29.6561 51.509 29.1575 51.8491 28.4376V29.5507H52.8845V25.2278C52.8845 23.4299 51.8769 22.8673 50.2035 22.8673C49.1983 22.8673 48.4137 23.1694 47.9836 23.4962L47.982 25.0408ZM43.6489 29.5475H44.6406L47.293 22.9952H46.1436L44.197 28.0932L42.2264 22.9952H41.0093L43.6489 29.5475ZM39.1566 29.5475H40.2423V22.9952H39.1574L39.1566 29.5475ZM38.9734 20.2288C38.9734 20.6483 39.2633 20.9248 39.707 20.9248C40.1379 20.9248 40.4239 20.6483 40.4239 20.2288C40.4239 19.8237 40.1363 19.5488 39.707 19.5488C39.2633 19.5488 38.9734 19.8237 38.9734 20.2288ZM37.1255 23.8462H37.1494C37.5819 23.8606 37.9212 24.006 38.1307 24.2273V23.0999C37.9977 22.9832 37.6862 22.8905 37.3844 22.8777C36.4453 22.8777 35.7802 23.517 35.632 24.3847V22.9952H34.5966V29.5475H35.6806V26.0236C35.6408 24.6476 36.0852 23.8462 37.1191 23.8462H37.1255ZM29.5506 21.4234C31.4312 21.4234 32.2675 21.8957 32.2675 23.2717C32.2675 24.805 31.3269 25.3532 29.5889 25.3532H27.8365V21.4234H29.5506ZM29.6303 26.4024C32.1234 26.4024 33.4974 25.3676 33.4974 23.35C33.4974 21.2924 32.1879 20.3743 29.6303 20.3743H26.6641V29.5475H27.8389V26.4024H29.6303Z" fill="white"/>
                <path d="M35.9735 12.7362C35.9735 15.0287 34.0061 16.5102 30.9602 16.5102C29.121 16.5102 27.246 15.9652 26.1652 15.1198L27.0573 13.0726C28.1182 13.8493 29.6125 14.3304 30.9777 14.3304C33.0327 14.3304 33.3402 13.4642 33.3402 12.948C33.3402 11.942 32.1151 11.6479 30.6973 11.3067C28.679 10.8225 26.3906 10.2727 26.3906 7.63104C26.3906 5.79799 27.6985 3.83949 31.3704 3.83949C32.9101 3.83949 34.4943 4.36607 35.5497 5.03808L33.5983 6.48438C32.8758 6.15517 32.3238 6.02093 31.3529 6.02093C30.6527 6.02093 29.0247 6.16396 29.0247 7.4912C29.0247 8.48204 30.2473 8.7697 31.6627 9.1061C33.6835 9.58394 35.9735 10.1257 35.9735 12.7362ZM49.2753 12.9831C49.2753 15.1206 47.5978 16.2985 44.5519 16.2985H38.4259V4.05284H44.2078C47.0052 4.05284 48.6747 5.23225 48.6747 7.20913C48.6747 8.38295 48.1219 9.33064 47.1175 9.878L47.0004 9.94112L47.1263 9.98347C48.4899 10.4349 49.2729 11.5289 49.2729 12.9831H49.2753ZM41.06 9.08533H43.8661C45.2664 9.08533 46.0072 8.57393 46.0072 7.58869C46.0072 6.90948 45.6352 6.09204 43.8661 6.09204H41.06V9.08533ZM41.06 9.08533H43.8661H41.06ZM46.6045 12.6923C46.6045 11.6463 45.8439 11.1245 44.344 11.1245H41.06V14.2592H44.344C45.8654 14.2592 46.6045 13.7439 46.6045 12.6923ZM58.1962 6.09204L60.9538 4.05284H51.7245V16.3008H60.9538V14.2592H54.3586V11.1245H59.9844V9.08533H54.3586V6.09204H58.1962ZM70.9946 16.3008L68.6537 12.8281C68.5804 12.8281 68.5063 12.8321 68.4314 12.8321H66.0419V16.3008H63.4038V4.05284H68.429C71.6358 4.05284 73.6279 5.73087 73.6279 8.43489C73.6279 10.2631 72.7151 11.6311 71.134 12.3199L73.8175 16.3008H70.9946ZM66.0403 10.7873H68.3749C70.0627 10.7873 70.9922 9.95311 70.9922 8.43809C70.9922 6.92307 70.0627 6.08885 68.3749 6.08885H66.0403V10.7873ZM10.1441 9.88838L6.28337 7.46004V10.3814L10.1441 12.8098L19.3837 5.97698C19.0579 5.25791 18.65 4.57922 18.1682 3.95455L10.1441 9.88838ZM10.1441 20.3505C8.52175 20.3502 6.92316 19.9596 5.48246 19.2113C4.04177 18.463 2.80101 17.379 1.86432 16.0501C0.927639 14.7213 0.322357 13.1865 0.099278 11.5744C-0.123801 9.96234 0.0418329 8.32013 0.582278 6.78557C1.12272 5.25102 2.02221 3.86891 3.20525 2.75524C4.38828 1.64157 5.82035 0.828829 7.38126 0.385239C8.94216 -0.0583517 10.5864 -0.119852 12.1759 0.205899C13.7654 0.53165 15.2538 1.23515 16.5162 2.25735L14.5416 3.71643C13.103 2.73175 11.3771 2.2586 9.63923 2.37244C7.90133 2.48628 6.25146 3.18055 4.95266 4.34456C3.65386 5.50856 2.78092 7.07528 2.47301 8.79493C2.1651 10.5146 2.43995 12.2881 3.25375 13.8328C4.06755 15.3775 5.37343 16.6044 6.96319 17.3179C8.55295 18.0314 10.3351 18.1904 12.0254 17.7695C13.7157 17.3487 15.2169 16.3722 16.2897 14.9959C17.3624 13.6195 17.9449 11.9224 17.9444 10.1752C17.9444 10.1057 17.9444 10.0362 17.9444 9.96669L20.1276 8.35259C20.3923 9.81903 20.333 11.3259 19.9538 12.7668C19.5745 14.2077 18.8847 15.5476 17.9329 16.6918C16.9811 17.836 15.7905 18.7567 14.4453 19.3889C13.1 20.0211 11.6328 20.3493 10.1473 20.3505H10.1441Z" fill="white"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="113" height="32" fill="white"/>
                </clipPath>
                </defs>
                </svg>
              div.footerText
                //div Переходя на страницу sber-pb.ru и подключаясь к трансляции Вы подтверждаете своё согласие на участие в онлайн-мероприятии.
                each text in content.footerText
                  div !{text[lang]}

        .disclameir
          .tower
            .disclameirText Данный документ подготовлен АО «Сбербанк КИБ» совместно ПАО Сбербанк (далее – «СБЕР») АО «Сбербанк КИБ», ОГРН 1027739007768; Российская Федерация, 117312, г. Москва, ул. Вавилова, д. 19; +7 (495) 258 0500; sbrf-cib.ru. - профессиональный участник рынка ценных бумаг, осуществляет и совмещает брокерскую, дилерскую, депозитарную деятельность и деятельность по инвестиционному консультированию. ПАО Сбербанк, ОГРН 1027700132195; Российская Федерация, 117997, г. Москва, ул. Вавилова, д. 19; + 7 (495) 957-57-31; http://www.sberbank.ru. - профессиональный участник рынка ценных бумаг, который в соответствии с применимым законодательством Российской Федерации осуществляет и совмещает брокерскую, дилерскую, депозитарную деятельность. Денежные средства, передаваемые по договору о брокерском обслуживании, не подлежат страхованию в соответствии с Федеральным законом от 23 декабря 2003 года № 177-ФЗ «О страховании вкладов в банках Российской Федерации». Получение доступа к Вебинару и использование предоставляемой в его рамках информации осуществляется в соответствии с требованиями настоящих Условий. Подключение к Вебинару является подтверждением (i) ознакомления подключившегося лица с настоящими Условиями и их понимания (ii) соблюдения подключившимся лицом Условий. В случае если лицо, подключившееся к Вебинару, становится несогласным с настоящими Условиями или теряет право на получение информации, предоставляемой в рамках Вебинара, в соответствии с настоящими Условиями и (или) применимым регулированием, такое лицо должно незамедлительно совершить действия, направленные на прекращение подключения к Вебинару. Ограничение доступа к информации В рамках Вебинара может предоставляться в том числе информация о ценных бумагах и производных финансовых инструментах, которые предназначены для квалифицированных инвесторов. Вебинар проводится исключительно для лиц, являющихся квалифицированными инвесторами. Если лицо не является квалифицированным инвестором, то такое лицо не вправе знакомиться с информацией, предоставляемой в рамках Вебинара, и должно совершить действия, направленные на незамедлительное прекращение доступа к Вебинару СБЕР предлагает Клиенту убедиться в том, что он в соответствии с применимым к нему регулированием имеет право инвестировать средства в финансовые инструменты, продукты или пользоваться услугами, информация о которых предоставляется на Вебинаре. СБЕР не может быть ни в какой форме привлечена к ответственности в случае нарушения Клиентом применимых к нему в какой-либо юрисдикции запретов. Если прямо не указано обратное, информация, предоставляемая в рамках Вебинара, не предназначена (а) для резидентов США или иных лиц в США; лица, получившие каким-либо образом доступ к информации, предоставляемой в рамках Вебинара, не могут передавать ее лицам в США; (б) для резидентов Европейского союза, которые относятся к категории розничных клиентов (лиц, не являющихся правомочными контрагентами и профессиональными инвесторами) в соответствии с Директивой «O рынках финансовых инструментов» II 2014/65/EU (MIFID II), (в) для резидентов иных юрисдикций, которые относятся к категории розничных клиентов (лиц, не являющихся правомочными контрагентами и профессиональными инвесторами) в соответствии с применимым регулированием иных юрисдикций. Не допускается произвольная интерпретация информации. При подготовке информации СБЕР использует общедоступные данные, полученные из достоверных, по ее мнению, источников; СБЕР не проверяет и не обязана проверять полноту, точность и достоверность такой информации. Любая информация, предоставляемая СБЕРом или лицами, приглашенными СБЕРом на Вебинар, используется Клиентом исключительно по своему усмотрению и на свой риск. Таким образом, СБЕР не делает никаких заверений в отношении того, что информация или оценки, предоставляемые в рамках Вебинара, являются достоверными, точными или полными. Если в информации, предоставляемой в рамках Вебинара, прямо не указано иное, она содержит исключительно прогнозные заявления, которые не являются гарантией будущих показателей; фактические показатели могут существенным образом отличаться от тех, которые приведены в информации, предоставляемой в рамках Вебинара. СБЕР не берет на себя обязательств по пересмотру или подтверждению ожиданий и оценок, а также по обновлению прогнозных заявлений для отражения произошедших событий или возникших обстоятельств после даты проведения Вебинара. Любая информация, предоставляемая в рамках Вебинара, может быть изменена в любое время либо отозвана. Любая предоставляемая в рамках Вебинара информация и оценки не являются условиями какой-либо сделки, в том числе потенциальной. Информация, предоставляемая в рамках Вебинара, не является (а) индивидуальной инвестиционной рекомендацией: финансовые инструменты и/или операции могут не соответствовать инвестиционному профилю и инвестиционным целям (ожиданиям) Клиента; (б) инвестиционным советом (investment adviсe), как это понятие определено в нормативных правовых актах стран Европейского союза. Факт предоставления информации на Вебинаре не может рассматриваться как признак, квалифицирующий информацию, предоставляемую в рамках Вебинара, в качестве индивидуальной инвестиционной рекомендации или инвестиционного совета. Информация о финансовых инструментах, которая предоставляется на Вебинаре, подготовлена и предоставляется обезличено для всех Клиентов и контрагентов СБЕРа не на основании договора об инвестиционном консультировании и не на основании инвестиционного профиля Клиента. Таким образом, такая информация представляет собой универсальные для всех лиц сведения о финансовых инструментах, продуктах, услугах, основанные на общедоступной информации. СБЕР не гарантирует, что финансовые инструменты, продукты и услуги, информация о которых предоставляется на Вебинаре, подходят лицам, которые с ними ознакомились. Определение соответствия финансового инструмента, продукта, услуги интересам, инвестиционным целям, инвестиционному горизонту, уровню допустимого риска и иным условиям, параметрам, обстоятельствам, которые имеют значение для инвестора, является задачей лица, принимающего инвестиционные решения. СБЕР рекомендует не полагаться исключительно на информацию, предоставляемую в рамках Вебинара, как на единственный источник информации, сделать свою собственную оценку рисков и привлечь, при необходимости, независимых экспертов. Информация на Вебинаре предоставляется исключительно в информационных целях и не является какой-либо рекомендацией, предложением или побуждением совершить сделки в отношении каких-либо финансовых инструментов, продуктов, услуг. Информация, предоставляемая в рамках Вебинара, не является предложением финансовых инструментов, как это определено в статье 1 Внутреннего стандарта НАУФОР «Требования к взаимодействию с физическими лицами при предложении финансовых инструментов». Информация, которая предоставляется на Вебинаре, не направлена на побуждение к приобретению определенных ценных бумаг и (или) заключению определенных договоров, являющихся производными финансовыми инструментами. Информация не является независимым аналитическим отчетом (research) Информация, предоставляемая в рамках Вебинара, не готовится аналитическим департаментом АО «Сбербанк КИБ» (Sberbank CIB Investment Research) / готовится аналитическим департаментом АО «Сбербанк КИБ» (Sberbank CIB Investment Research), при этом может содержать информацию из уже опубликованных аналитических отчетов. Информация, предоставляемая в рамках Вебинара, готовится без соблюдения правил/требований, предъявляемых к независимому аналитическому отчету (research). Информация не является рекламой или предложением совершить сделки Инвестиции сопряжены с риском. Финансовые инструменты и инвестиционная деятельность связаны с высокими рисками. Настоящий документ не содержит подробного описания таких рисков и информации о затратах, которые могут потребоваться в связи с заключением, исполнением и прекращением сделок, связанных с финансовыми инструментами, продуктами и услугами. Стоимость акций, облигаций, инвестиционных паев и иных финансовых инструментов может уменьшаться или увеличиваться. Результаты инвестирования в прошлом не определяют доходов в будущем. СБЕР и/или государство не гарантирует доходности и/или возвратности инвестиций, инвестиционной деятельности или финансовых инструментов. До заключения какой-либо сделки с финансовым инструментом, Клиенту необходимо ознакомиться с условиями финансового инструмента и условиями сделки с таким инструментом, а также убедиться, что он полностью понимает все условия, а также связанные со сделкой юридические, налоговые, кредитные, финансовые и другие риски, в том числе риски ликвидности финансовых инструментов, неисполнения своих обязательств эмитентами финансовых инструментов, контрагентами по сделкам с ними, а также организациями, обеспечивающими заключение, исполнение или прекращение сделок. Клиенту рекомендуется самостоятельно получить правовые, налоговые, финансовые, бухгалтерские и другие необходимые профессиональные консультации в целях обеспечения своих прав и законных интересов в связи с использованием информации о финансовых инструментах, продуктах, услугах, предоставляемой в рамках Вебинара. Настоящее описание рисков не является полным. Подробное описание таких рисков доступно в Декларации о рисках на интернет-сайте СБЕРа [https://sbrf-cib.ru/article?id=3 / https://www.sberbank.ru/ru/person/investments/doc]. СБЕР рекомендует Клиенту самостоятельно или с привлечением необходимых для этого экспертов проанализировать и оценить перечисленные риски до принятия инвестиционных решений. СБЕР не несет перед Клиентом какой-либо ответственности за последствия реализации какого-либо из перечисленных рисков. Имеет место конфликт интересов. Настоящим СБЕР уведомляет Клиента о наличии конфликта между имущественными и иными интересами Клиента и СБЕРа / его сотрудников. Конфликт интересов выражается в наличии у СБЕРа, его сотрудников и аффилированных лиц заинтересованности в предоставлении Клиенту информации о финансовых инструментах и/или операциях с ними, в частности информации о целесообразности совершения сделок, в результате чего СБЕР и/или аффилированные лица СБЕРа могут получить вознаграждение или иной доход. Конфликт между имущественными и иными интересами Клиента и СБЕРа / его сотрудников возможен в следующих случаях: (а) исполнение СБЕРом как брокером поручений Клиента, решение о направлении и/или содержании которых напрямую обусловлено информацией, предоставленной в рамках Вебинара; (б) СБЕР / сотрудник СБЕРа владеет ценными бумагами, информация о которых предоставляется в рамках Вебинара, или намерена совершить с ними сделку; (в) СБЕР / сотрудник СБЕРа является стороной договора, являющегося производным финансовым инструментом, базовым активом которого являются ценные бумаги, информация о которых предоставляется в рамках Вебинара; (г) СБЕР осуществляет поддержание цен, спроса, предложения и/или объема торгов с ценными бумагами, информация о которых предоставляется в рамках Вебинара, в том числе действуя в качестве маркет-мейкера; (д) контрагентами Клиента по сделкам с финансовыми инструментами, информация о которых предоставляется в рамках Вебинара, будут являться другие клиенты СБЕРа или такие сделки будут совершаться при участии других клиентов СБЕРа; (е) сделка с ценными бумагами, информация о которых предоставлена в рамках Вебинара, будет совершена при участии СБЕРа; (ж) заключение СБЕРом договоров с третьими лицами, предусматривающих выплату вознаграждений за предоставление Клиентам информации в рамках Вебинара; (з) заключение СБЕРом договоров с третьими лицами, предусматривающих выплату СБЕРу вознаграждения или предоставление иных имущественных благ и/или освобождение от обязанности совершить определенные действия, в случае совершения Клиентами и/или за их счет действий с использованием информации, предоставленной в рамках Вебинара; (и) эмитентом или обязанным лицом по ценным бумагам, информация о которых предоставляется в рамках Вебинара, является СБЕР или его аффилированное лицо; (к) контрагентами Клиента по сделкам с ценными бумагами, информация о которых предоставляется в рамках Вебинара, будут являться аффилированные лица СБЕРа или такие сделки будут совершаться при участии аффилированных лиц СБЕРа. СБЕР и/или аффилированные лица СБЕРа могут состоять и будут продолжать находиться в договорных отношениях по оказанию брокерских и депозитарных услуг, услуг по инвестиционному консультированию, услуг по размещению или дистрибуции ценных бумаг, услуг маркет-мейкера, иных услуг третьим лицам, при этом (а) СБЕР и/или аффилированные лица СБЕРа могут получать в свое распоряжение информацию, представляющую интерес для Клиента, и они не несут перед Клиентом никаких обязательств по раскрытию такой информации или использованию ее при подготовке Вебинара; (б) условия оказания услуг и размер вознаграждения СБЕРа и/или аффилированных лиц СБЕРа за оказание таких услуг третьим лицам могут отличаться от условий и размера вознаграждения, предусмотренных договором с Клиентом; (в) СБЕР и/или аффилированные лица СБЕРа могут совершать сделки и иные операции с финансовыми инструментами в интересах третьих лиц и/или в собственных интересах. Компенсация сотрудников СБЕРа и/или аффилированных лиц СБЕРа может зависеть от типа и количества сделок, совершенных Клиентом с финансовыми инструментами, информация о которых предоставляется в рамках Вебинара. СБЕР принимает все разумные и доступные в каждом из вышеуказанных случаев меры по выявлению и контролю конфликта интересов, меры по предотвращению его последствий и разрешению соответствующего конфликта интересов в пользу Клиента. Ограничение ответственности СБЕР не несет ответственности за возможные убытки, финансовые или иные последствия, которые могут возникнуть в результате использования информации, предоставляемой в рамках Вебинара. Распространение и копирование информационных материалов, представленных в настоящем документе, разрешено при условии указания ссылки на источник.
            www.sberbank-pb.ru

      .spkPopupWr(v-if="activeSpk"  v-bind:class="{popUpShow:activeSpk}" v-on:click="activeSpk=null")
        .popUpTower(v-on:click.stop.prevent=";;")
          .regAboutClose(v-on:click="activeSpk=null")
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M29.3609 27.7603L12.24 10.6394C11.8088 10.2082 11.1096 10.2082 10.6784 10.6394C10.2472 11.0706 10.2472 11.7697 10.6784 12.201L27.7993 29.3219C28.2305 29.7531 28.9297 29.7531 29.3609 29.3219C29.7921 28.8906 29.7921 28.1915 29.3609 27.7603Z" fill="#353F47" stroke="#353F47" stroke-width="0.2"></path> <path d="M27.7603 10.6779L10.6394 27.7988C10.2081 28.23 10.2081 28.9292 10.6394 29.3604C11.0706 29.7916 11.7697 29.7916 12.2009 29.3604L29.3218 12.2395C29.7531 11.8083 29.7531 11.1091 29.3218 10.6779C28.8906 10.2467 28.1915 10.2467 27.7603 10.6779Z" fill="#353F47" stroke="#353F47" stroke-width="0.2"></path>
            </svg>
          .spkPopupTitle
            .spkPopupPhotoWr
              .speakerPhoto
                img(:src="'/images/'+activeSpk.img")
            .spkPopupNameWr
              .sbeakerName(v-html="activeSpk.name[lang]")
              .sbeakerPos(v-html="activeSpk.position[lang]")
          .spkPopupBioWr(v-html="activeSpk.bio[lang]")

    script.
      var stage=!{stage};
      var lang=!{JSON.stringify(lang)};
      function navigateToTime(sec){
        document.getElementById('playerIframe').contentWindow.player.currentTime(sec+6);
        document.getElementById('playerIframe').contentWindow.player.play();


      }



    script(src='/javascripts/axios.min.js')
    script(src='/javascripts/vue.min.js')
    script(src='/javascripts/moment.min.js')
    script(src='/javascripts/mainScript.js')


